.hem-sections section {
  padding: 50px 0; }
.hem-sections .flex {
  display: flex;
  flex-direction: rows; }
.hem-sections .flex--center {
  justify-content: center; }
.hem-sections .flex--space-around {
  justify-content: space-around; }

.col-1 {
  max-width: 300px;
  margin: 0 10px; }

.col-2 {
  max-width: 620px;
  margin: 0 10px; }

.col-50 {
  width: 50%; }

.bok {
  background-image: url(../img/hem/book-background.png);
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px; }

@media (max-width: 640px) {
  .hem-sections .flex {
    display: block; }

  .col-1 {
    max-width: 100%; }

  .col-50 {
    width: auto; } }
